body {
  background-color: pink !important;
  color: black !important;
}
button {
  background-color: rgb(194, 10, 148) !important;
  color: white !important;
  width: 100px !important;
    height: 50px !important;
    border-radius: 50%;
}
#create me nice animation in over on the button when hover
button:hover {
  background-color: rgb(194, 10, 148) !important;
  color: white !important;
  width: 100px !important;
    height: 50px !important;
    border-radius: 50%;
    animation: 2s ease-in-out 0s infinite alternate none running mymove;
}
